.imghead{
    background-image: url("Assets/Home\ Picture.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.row1class{
    color: rgb(255, 240, 240);
    font-family: 'League Spartan', sans-serif;
    font-size: 100px;
    height:125px;
}
.row1classsmall{
    color: whitesmoke;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
}

.featured{
    background-color:white;
    color:black;
    border-radius:15px;
    box-shadow: -5px 10px 5px rgb(8, 4, 4);
}

.col2class{
    background-color:pink;
}

.itemimage{
    align-items: center;
}